

<!-- Following Menu -->



<!-- Page Contents -->
    <div class="ui inverted vertical center aligned segment pageHeader" style="background: rgba(0, 0, 0, 0) url('images/event3.jpg') repeat scroll 0 0 / cover ;">
        <div class="ui large secondary inverted menu mobileMenu">
            <div class="ui container">
                <div class="item"><img src="./assets/images/kosslogo.png"></div>
                <div class="right item">
                    <a class="openMenu item">
                        <i class="sidebar icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui text container">
            ><h1 class="ui inverted header">@pranitbauva1997</h1>
            <h2>Executive</h2>
        </div>
    </div>

    <!--******     START CODING FROM HERE       *****-->
    <img src="images/top.jpeg" class="ui centered image">
    <div class="ui grid">
  <div class="two wide column"></div>
  <div class="four wide column">
  	<br><br>
	  <a href="http://www.fb.com"><img src="images/fb.png" /img></a> <a href="http://www.fb.com"><img src="images/fb.png" /img></a> <a href="http://www.fb.com"><img src="images/fb.png" /img></a>
			<br><div>    &nbsp;&nbsp;&nbsp;</div><img class="ui small bordered circular left image circleborder" src="https://avatars3.githubusercontent.com/u/2959938?v=3">
			<h3 class="ui header left aligned" id="name">Pranit Bauva</h3>
			<img src="images/left.jpeg" class="ui image" /img><br>
			<div class="centered"> SOFTWARE DEVELOPER </div><br>
			<img src="images/lhs.png" class="ui image" /img>
			<div>
			&nbsp;&nbsp;<i class="volume control phone icon"></i> +91-9932433282<br>
			&nbsp;&nbsp;<i class="browser icon"></i> bauva.com<br>
			&nbsp;&nbsp;<i class="mail icon"></i> None<br>
			</div>
			<br>
			&nbsp;&nbsp;MY LIFE PHILOSOPHY:
			<h4><font color="#3366ff" size=3>“Do something cool,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;which can improve lives.”<br><br></font></h4>
			</div>
	
  <!-- <div class="two wide column"></div> -->
  <div class="eight wide column">
  <br><br>
                      <div class="ui right floated header">PROFILE</div><br>
                      <div class="ui segment"><h2>Hi, I am <b>Pranit Bauva</b>!</h2>
                      <img src="images/right.png" class="ui image" /img>
                      Indian Institute of Technology, Kharagpur</div>
                      <div class="ui segment"> Sportsman turned into Programmer and Mathematician</div>
                      
                      <div class="ui segment"> <b>PROJECTS</b>
                      <div class="ui list">
  			<!-- <div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<a class="header"><h3>Project 1</h3></a>
      				<div class="description">Desciption and <a><b>Link</b></a>.</div>
      				</div>
                      s
                      	</div> -->
    	
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 1</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/CodeForces"><b>CodeForces</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 2</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/opencv_tutorial"><b>opencv_tutorial</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 3</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/scientific-computing"><b>scientific-computing</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 4</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/conquest"><b>conquest</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 5</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/julia-learning"><b>julia-learning</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 6</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/cpp"><b>cpp</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 7</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/mysite"><b>mysite</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 8</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/avr-programming"><b>avr-programming</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 9</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/resume"><b>resume</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 10</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/python"><b>python</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 11</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/c"><b>c</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 12</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/sherlock"><b>sherlock</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 13</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/perl"><b>perl</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 14</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/blob_following"><b>blob_following</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 15</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/Algorithms"><b>Algorithms</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 16</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/pranitbauva1997.github.io"><b>pranitbauva1997.github.io</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 17</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/learn-it"><b>learn-it</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 18</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/bash"><b>bash</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 19</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/krssg-interview"><b>krssg-interview</b></a></div>
      				</div>
        </div>
        
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project 20</h3></div>  
      				<div class="description"><a href="https://github.com/pranitbauva1997/pb-table-code"><b>pb-table-code</b></a></div>
      				</div>
        </div>
                  

                      </div>
                      </div>
                      
                    <a class="ui large button" href="http://bauva.com">Blog</a><a class="ui large button" href="https://github.com/pranitbauva1997"><i class="github icon"></i> GitHub</a><br><br>
  
  </div>
    <div class="two wide column">
    <img src="images/rhs.jpeg" class="ui image" /img>
    </div>
  </div>  
  
    <!--******     END YOUR CODE HERE      *****-->
