

<!-- Following Menu -->



<!-- Page Contents -->
    <div class="ui inverted vertical center aligned segment pageHeader" style="background: rgba(0, 0, 0, 0) url('images/event3.jpg') repeat scroll 0 0 / cover ;">
        <div class="ui large secondary inverted menu mobileMenu">
            <div class="ui container">
                <div class="item"><img src="./assets/images/kosslogo.png"></div>
                <div class="right item">
                    <a class="openMenu item">
                        <i class="sidebar icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui text container">
            ><h1 class="ui inverted header">@{{name}}</h1>
            <h2>Executive</h2>
        </div>
    </div>

    <!--******     START CODING FROM HERE       *****-->
    <img src="images/top.jpeg" class="ui centered image">
    <div class="ui grid">
  <div class="two wide column"></div>
  <div class="four wide column">
  	<br><br>
	  <a href="http://www.fb.com"><img src="images/fb.png" /img></a> <a href="http://www.fb.com"><img src="images/fb.png" /img></a> <a href="http://www.fb.com"><img src="images/fb.png" /img></a>
			<br><div>    &nbsp;&nbsp;&nbsp;</div><img class="ui small bordered circular left image circleborder" src="{{image}}">
			<h3 class="ui header left aligned" id="name">{{full_name}}</h3>
			<img src="images/left.jpeg" class="ui image" /img><br>
			<div class="centered"> SOFTWARE DEVELOPER </div><br>
			<img src="images/lhs.png" class="ui image" /img>
			<div>
			&nbsp;&nbsp;<i class="mail icon"></i> {{email}}<br>
			</div>
			<br>
			</div>
	
  <!-- <div class="two wide column"></div> -->
  <div class="eight wide column">
  <br><br>
                      <div class="ui right floated header">PROFILE</div><br>
                      <div class="ui segment"><h2>Hi, I am <b>{{full_name}}</b>!</h2>
                      <img src="images/right.png" class="ui image" /img>
                      Indian Institute of Technology, Kharagpur</div>
                      <div class="ui segment"> {{bio}}</div>
                      
                      <div class="ui segment"> <b>PROJECTS</b>
                      <div class="ui list">
  			<!-- <div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<a class="header"><h3>Project 1</h3></a>
      				<div class="description">Desciption and <a><b>Link</b></a>.</div>
      				</div>
                      s
                      	</div> -->
    	
        {% for i in range(6) %}
        	<div class="item">
	    			<img class="ui avatar image"><i class="angle double right icon"></i></img>
	    			<div class="content">
	      			<div class="header"><h3>Project {{loop.index}}</h3></div>  
      				<div class="description"><a href="{{pinned_repos[i]['url']}}"><b>{{pinned_repos[i]['name']}}</b></a></div>
      				</div>
        </div>
        {% endfor %}          

                      </div>
                      </div>
                      
                    <a class="ui large button" href="{{blog}}">Blog</a><a class="ui large button" href="{{gh_link}}"><i class="github icon"></i> GitHub</a><br><br>
  
  </div>
    <div class="two wide column">
    <img src="images/rhs.jpeg" class="ui image" /img>
    </div>
  </div>  
  
    <!--******     END YOUR CODE HERE      *****-->

